<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="MF.NLogConfig" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net47" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net47" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net47" />
</packages>