<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>
    <variable name="newLine" value="\r\n"/>
    <targets  async="true"  keepFileOpen="false">
      <target name="fileTarget" xsi:type="File" layout="${newline}${newline}${newline} 时间 ${longdate} ${newline} 消息内容 ${message}${newline} 线程ID ${threadid} " fileName="${logDirectory}/System/${level}/${date:format=yyyyMMddHH}.txt"/>
      <target name="QueueTarget" xsi:type="File" layout="${newline}${newline}${newline} 时间 ${longdate} ${newline} 消息内容 ${message}${newline} 线程ID ${threadid} " fileName="${logDirectory}/Queue/${date:format=yyyyMMddHH}.txt"/>
      <target name="SqlTarget" xsi:type="File" layout="${newline}${newline}${newline} 时间 ${longdate} ${newline} 消息内容 ${message}${newline} 线程ID ${threadid} " fileName="${logDirectory}/DB/${date:format=yyyyMMddHH}.txt"/>
      <target name="RequestTarget" xsi:type="File" layout="${newline}${newline}${newline} 时间 ${longdate} ${newline} 消息内容 ${message}${newline} 线程ID ${threadid} " fileName="${logDirectory}/Request/${date:format=yyyyMMddHH}.txt"/>
      <target name="HttpTarget" xsi:type="File" layout="${newline}${newline}${newline} 时间 ${longdate} ${newline} 消息内容 ${message}${newline} 线程ID ${threadid} " fileName="${logDirectory}/Http/${date:format=yyyyMMddHH}.txt"/>
    </targets>

    <rules>
      <logger name="Queue" minlevel="Trace" writeTo="QueueTarget" />
      <logger name="Null" minlevel="Trace" writeTo="fileTarget" />
      <logger name="Sql" minlevel="Trace" writeTo="SqlTarget" />
      <logger name="Request" minlevel="Trace" writeTo="RequestTarget" />
      <logger name="Http" minlevel="Trace" writeTo="HttpTarget" />
    </rules>
  </nlog>
</configuration>